html, body {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

.el-row {
    margin-bottom: 2px;
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
    background: #305079;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}
.bg-purple-light2 {
    background: #e2f4ff;
}

.bg-4thskill-light {
    background: #fffea7;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.text-wrapper {
    white-space: pre-wrap;
}

.ROCalTitle {
    height: 50px;
    position: relative;
    color: white;
    background: #303133;
    border-radius: 4px;
}

.ROCalFooter {
    height: 35px;
    color: white;
    background: #303133;
    border-radius: 4px;
}

.bodycol-container {
    height: calc(100vh - (50px + 35px + 8px));
}

.body2col-container {
    height: calc(100vh - (50px + 35px + 8px + 42px));
}

.Dialogue-container {
    height: calc(100vh - (50px + 35px + 24px));
}

.EquipList-container {
    height: calc(100vh - (50px + 35px + 240px));
}

.StatusList-container {
    height: calc(100vh - (50px + 35px + 140px));
}

.SkillList-container {
    height: calc(100vh - (50px + 35px + 200px));
}

.EquipText-container {
    height: calc(100vh - (50px + 35px + 130px));
}

.ThanksList-container {
    height: calc(100vh - (50px + 35px + 130px));
}

.Announce-container {
    height: calc(50vh - (200px));
}

.UpdateList-container {
    height: calc(50vh - 85px);
}

.AboutList-container {
    height: calc(100vh - (50px + 35px + 250px));
}

.EffectList-container {
    height: calc(100vh - (50px + 35px + 24px));
}

.EquipEffectList-container {
    height: calc(100vh - (50px + 35px + 240px));
}

.ConsumableList1-container {
    height: calc(100vh - (50px + 35px + 212px));
}

.ConsumableList2-container {
    height: calc(100vh - (50px + 35px + 160px));
}


.DBlist-container {
    height: calc(40vh - (50px));
}

.effectline {
    line-height: 3;
    margin: auto;
}

.boxborder {
    padding: 5px 5px;
    border: 1px solid #d7dae2;
    border-radius: 4px;
    min-height: 100px;
}

.statusbox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    min-height: 40px;
}

.statussavebox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    background: #f9fafc;
}

.previeweffectbox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    text-align: center;
    background: #606266;
    color: white;
}

.previeweffectbox2 {
    border-radius: 2px;
    text-align: center;
    background: #b3dcec;
}

.previeweffectbox3 {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    text-align: center;
    background: white;
    color: #606266;
}

.optionbox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    min-height: 40px;
    text-align: center;
}

.optionsubbox {
    border-radius: 2px;
    min-height: 40px;
    text-align: center;
    background: #c9e9d7;
}

.skillnametext {
    font-family: Microsoft JhengHei;
    font-size: 18px;
    font-weight: bold;
    color: #2c774e;
}

.skillline {
    line-height: 2;
    margin: auto;
    text-align: center;
}

.skilltag {
    border: 1px solid #0c7a47;
    border-radius: 4px;
    text-align: center;
}

.obsidianbox {
    text-align: center;
    background: #7a7a7a;
    color:white;
}

.goldbox {
    text-align: center;
    background: #FFD700;
    color:#082567;
}

.textcenter {
    text-align: center;
    vertical-align: middle;
}

.titlebox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    min-height: 40px;
    text-align: center;
    background: #606266;
    color: white;
}

.aboutbox {
    background: white;
    color: black;
}

.subtitlebox {
    border: 1px solid #d7dae2;
    border-radius: 2px;
    min-height: 40px;
    text-align: center;
    background: #DCDFE6;
}

.ElementTableCellBT100 {
    text-align: center;
    vertical-align: middle;
    color: rgb(33, 153, 79);
    background:rgb(178, 253, 207);
    font-size: 24px;
    font-weight: bold;
}

.ElementTableCellST100 {
    text-align: center;
    color: white;
    background:rgb(240, 169, 76);
}

.ElementTableCellST50 {
    text-align: center;
    color: rgb(201, 46, 46);
    background:rgb(252, 175, 175);
    font-size: 24px;
    font-weight: bold;
}

.ElementTableCellST25 {
    text-align: center;
    color: rgb(70, 70, 70);
    background:rgb(170, 170, 170);
    font-size: 24px;
    font-weight: bold;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: rgba(0, 0, 0, 0) !important;
}

.ElementRowColTitle {
    border-radius: 2px;
    font-size:21px;
    text-align: center;
    border: 1px solid #0c7a47;
    border-radius: 2px;
}
