{% raw %}
                <el-col :span="6">
                    <el-scrollbar wrap-class="bodycol-container" :native="true" :noresize="false">
                        <el-row class="titlebox" :gutter="2" type="flex" align="middle" justify="end"
                            style="height:40px; padding: 0px 5px;">
                            <el-col class="textcenter" :span="3">
                            </el-col>
                            <el-col class="textcenter" :span="18"
                                style="text-align: center;">
                                <span class="textcenter">角色素質</span>
                            </el-col>
                            <el-col v-if="UIPanel['StatusPanel']" class="textcenter" :span="3">
                                <el-button type="info" v-on:click="TogglePanel('StatusPanel')" size="mini"><i
                                        class="el-icon-arrow-up"></i></el-button>
                            </el-col>
                            <el-col v-else="!UIPanel['StatusPanel']" class="textcenter" :span="3">
                                <el-button type="info" v-on:click="TogglePanel('StatusPanel')" size="mini"><i
                                        class="el-icon-arrow-down"></i></el-button>
                            </el-col>
                        </el-row>
                        <el-row>
                            <div class="boxborder StatusBlock">
                                <el-row class="statusbox bg-purple-light" type="flex" align="middle">
                                    <el-col :span="12" class="textcenter"><span>職業</span>
                                    </el-col>
                                    <el-col :span="12">
                                        <div class="grid-content">
                                            <el-select v-model="status.classid" v-on:change="onChangeClass"
                                                placeholder="">
                                                <el-option v-for="item in classlist" :key="item.id"
                                                    :label="item.label" :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;">
                                    <el-col class="textcenter" :span="3">HP</el-col>
                                    <el-col class="textcenter" :span="8">
                                        {{status.HP}} / {{status.MHP}}
                                    </el-col>
                                    <el-col :span="2"></el-col>
                                    <el-col class="textcenter" :span="3">SP</el-col>
                                    <el-col class="textcenter" :span="8">
                                        {{status.SP}} / {{status.MSP}}
                                    </el-col>
                                </el-row>
                                <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;">
                                    <el-col class="textcenter">HP</el-col>
                                    <el-col>
                                        <el-input v-model.number="HP_NotFix" v-on:input="onOption"
                                            placeholder="HP_NotFix">
                                        </el-input>
                                    </el-col>
                                    <el-col class="textcenter">SP</el-col>
                                    <el-col>
                                        <el-input v-model.number="SP_NotFix" v-on:input="onOption"
                                            placeholder="SP_NotFix">
                                        </el-input>
                                    </el-col>
                                </el-row>
                                <el-row v-show="status.classid=='RK'|status.classid=='SU'" class="statusbox" type="flex" align="middle" style="padding: 0% 5%;">
                                    <el-col :span="11">
                                        <el-slider v-model="status.HP" :min="0" :max="status.MHP" v-on:input="onOption" :show-tooltip="false"></el-slider>
                                    </el-col>
                                    <el-col :span="2"></el-col>
                                    <el-col :span="11">
                                        <el-slider v-model="status.SP" :min="0" :max="status.MSP" v-on:input="onOption" :show-tooltip="false"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-collapse-transition>
                                    <div v-show="UIPanel['StatusPanel']">
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter">Level</el-col>
                                                <el-col>
                                                    <el-input v-model.number="status.Level" v-on:input="ComputConsumAndOption"
                                                        placeholder="Level">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter">JobLevel</el-col>
                                                <el-col>
                                                    <el-input v-model.number="status.JOBLevel" v-on:input="onOption"
                                                        placeholder="Level">
                                                    </el-input>
                                                </el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">STR</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.STR" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="STR">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.STR}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.STR}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.STR}}</el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">AGI</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.AGI" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="AGI">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.AGI}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.AGI}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.AGI}}</el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">VIT</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.VIT" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="VIT">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.VIT}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.VIT}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.VIT}}</el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">INT</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.INT" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="INT">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.INT}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.INT}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.INT}}</el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">DEX</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.DEX" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="DEX">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.DEX}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.DEX}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.DEX}}</el-col>
                                            </el-row>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                style="height:40px;">
                                                <el-col class="textcenter" :span="3">LUK</el-col>
                                                <el-col :span="10">
                                                    <el-input v-model="status.LUK" v-on:input="onOption"
                                                        v-on:change="onStatusChange" placeholder="LUK">
                                                    </el-input>
                                                </el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_add.LUK}}</el-col>
                                                <el-col class="textcenter" :span="1">+</el-col>
                                                <el-col class="textcenter" :span="4">{{status_job.LUK}}</el-col>
                                                <el-col class="textcenter" :span="1">=</el-col>
                                                <el-col class="textcenter" :span="4">{{status_total.LUK}}</el-col>
                                            </el-row>
                                            <div v-if="this.status.Level>=200">
                                                <el-row class="statusbox textcenter" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="12">
                                                        特質點 {{computeattribute.RaisingTStatsPoint}}/{{TStatusPoint[this.status.Level-200]}}點
                                                    </el-col>
                                                    <el-col v-if="computeattribute.RaisingTStatsPoint>TStatusPoint[this.status.Level-200]"
                                                        class="textcenter" :span="12">
                                                        不足 {{computeattribute['RaisingTStatsPoint']-TStatusPoint[this.status.Level-200]}}點
                                                    </el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">POW</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.POW" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="POW">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.POW}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.POW}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.POW}}</el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">STA</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.STA" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="STA">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.STA}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.STA}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.STA}}</el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">WIS</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.WIS" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="WIS">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.WIS}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.WIS}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.WIS}}</el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">SPL</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.SPL" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="SPL">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.SPL}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.SPL}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.S_P_L}}</el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">CON</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.CON" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="CON">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.CON}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.CON}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.CON}}</el-col>
                                                </el-row>
                                                <el-row class="statusbox bg-purple-light" type="flex" align="middle"
                                                    style="height:40px;">
                                                    <el-col class="textcenter" :span="3">CRT</el-col>
                                                    <el-col :span="10">
                                                        <el-input v-model="status.CRT" v-on:input="onOption"
                                                            v-on:change="onStatusChange" placeholder="CRT">
                                                        </el-input>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_add.CRT}}</el-col>
                                                    <el-col class="textcenter" :span="1">+</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_job.CRT}}</el-col>
                                                    <el-col class="textcenter" :span="1">=</el-col>
                                                    <el-col class="textcenter" :span="4">{{status_total.CRT}}</el-col>
                                                </el-row>
                                            </div>
                                            <el-row class="statusbox bg-purple-light" type="flex" align="middle">
                                                <el-col class="textcenter" :span="12">ASPD</el-col>
                                                <el-col :span="12">
                                                    <el-input v-model="status.ASPD" v-on:input="onOption" placeholder="攻速">
                                                    </el-input>
                                                </el-col>
                                            </el-row>
                                            <el-row class="statusbox" type="flex" align="middle">
                                                <el-col class="textcenter" :span="12">
                                                    <span>代入JOB滿等加成素質點</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="12">
                                                    <el-switch v-model="status.UseJobMaxPoint" v-on:change="onOption"
                                                        active-color="#13ce66" inactive-color="#8a9799">
                                                    </el-switch>
                                                </el-col>
                                            </el-row>
                                            <el-row class="statusbox" type="flex" align="middle">
                                                <el-col class="textcenter" :span="6">
                                                    <span>轉生</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="6">
                                                    <el-switch v-model="status.Transcendent" v-on:change="onOption"
                                                        active-color="#13ce66" inactive-color="#8a9799">
                                                    </el-switch>
                                                </el-col>
                                                <el-tooltip class="item" effect="dark" content='轉生100點，非轉生52點'
                                                    placement="top-start">
                                                    <el-col class="textcenter" :span="6">可用素質點</el-col>
                                                </el-tooltip>
                                                <el-col class="textcenter" :span="6">{{computeattribute.StatsPoint}}
                                                </el-col>
                                            </el-row>
                                            <el-row
                                                v-show="(computeattribute['StatsPoint']-computeattribute['RaisingStatsPoint'])>=0"
                                                class="statusbox" type="flex" align="middle">
                                                <el-tooltip class="item" effect="dark"
                                                    content='計算素質欄中第一個 " + 號" 前的數值 例:120+10+5 取120' placement="top-start">
                                                    <el-col class="textcenter" :span="6">已消耗點數</el-col>
                                                </el-tooltip>
                                                <el-col class="textcenter" :span="6">{{computeattribute.RaisingStatsPoint}}
                                                </el-col>
                                                <el-col class="textcenter" :span="12">餘
                                                    {{computeattribute['StatsPoint']-computeattribute['RaisingStatsPoint']}}點
                                                </el-col>
                                            </el-row>
                                            <el-row
                                                v-show="(computeattribute['StatsPoint']-computeattribute['RaisingStatsPoint'])<0"
                                                class="statusbox" type="flex" align="middle" style="color: red;">
                                                <el-tooltip class="item" effect="dark"
                                                    content='計算素質欄中第一個 " + 號" 前的數值 例:120+10+5 取120' placement="top-start">
                                                    <el-col class="textcenter" :span="6">已消耗點數</el-col>
                                                </el-tooltip>
                                                <el-col class="textcenter" :span="6">{{computeattribute.RaisingStatsPoint}}
                                                </el-col>
                                                <el-col class="textcenter" :span="12">不足
                                                    {{computeattribute['RaisingStatsPoint']-computeattribute['StatsPoint']}}點
                                                </el-col>
                                            </el-row>
                                        </div>
                                </el-collapse-transition>
                                <el-collapse-transition>
                                    <div v-show="UIPanel['StatusPanel']==false">
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="6">Base/Job</el-col>
                                            <el-col class="textcenter" :span="6" style="text-align: left;">
                                                {{status.Level}} / {{status.JOBLevel}}
                                            </el-col>
                                            <el-col v-if="status.UseJobMaxPoint" class="textcenter el-icon-check skilltag" :span="12" >
                                                Job加成點
                                            </el-col>
                                            <el-col v-else class="textcenter" :span="12" >
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">STR</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.STR)}} + {{status_total.STR-GetPureStats(status.STR)}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">AGI</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.AGI)}} + {{status_total.AGI-GetPureStats(status.AGI)}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">VIT</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.VIT)}} + {{status_total.VIT-GetPureStats(status.VIT)}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">INT</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.INT)}} + {{status_total.INT-GetPureStats(status.INT)}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">DEX</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.DEX)}} + {{status_total.DEX-GetPureStats(status.DEX)}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="2">
                                            <el-col class="textcenter" :span="4">LUK</el-col>
                                            <el-col class="textcenter" :span="8" style="text-align: left;">
                                                {{GetPureStats(status.LUK)}} + {{status_total.LUK-GetPureStats(status.LUK)}}
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-row>
                        <el-row class="titlebox" type="flex" align="middle" justify="end"
                            style="height:40px; padding: 0px 5px;">
                            <el-col :span="3">
                            </el-col>
                            <el-col class="textcenter" :span="18"
                                style="text-align: center;">
                                <span class="textcenter">敵方</span>
                            </el-col>
                            <el-col v-if="UIPanel['EnemyPanel']" class="textcenter" :span="3">
                                <el-button type="info" v-on:click="TogglePanel('EnemyPanel')" size="mini"><i
                                        class="el-icon-arrow-up"></i></el-button>
                            </el-col>
                            <el-col v-else="!UIPanel['EnemyPanel']" class="textcenter" :span="3">
                                <el-button type="info" v-on:click="TogglePanel('EnemyPanel')" size="mini"><i
                                        class="el-icon-arrow-down"></i></el-button>
                            </el-col>
                        </el-row>
                        <el-row>
                            <div class="boxborder EnemyBlock">
                                <el-row class="statusbox bg-purple-light" :gutter="4" type="flex" align="middle" justify="center">
                                    <el-col :span="12" offset="12">
                                        <div class="textcenter grid-content">
                                            <el-select value-key="id" v-model="enemyattribute"
                                                v-on:change="onSelectEnemy" placeholder="選擇敵方">
                                                <el-option v-for="item in enemylist" :key="item.id"
                                                    :label="item.name" :value="item">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-collapse-transition>
                                    <div v-show="UIPanel['EnemyPanel']">
                                        <el-row class="statusbox bg-purple-light" :gutter="4" type="flex"
                                            align="middle">
                                            <el-col :span="6" class="textcenter"><span>屬性</span>
                                            </el-col>
                                            <el-col :span="6">
                                                <div class="grid-content bg-purple">
                                                    <el-select v-model="enemyattribute.elemental"
                                                        v-on:change="ComputElementalPercent" placeholder="敵方屬性">
                                                        <el-option v-for="item in elementtypelist" :key="item.id"
                                                            :label="item.label" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </el-col>
                                            <el-col :span="8" class="textcenter"><span>屬性等級</span>
                                            </el-col>
                                            <el-col :span="4">
                                                <div class="grid-content bg-purple">
                                                    <el-select value-key="id" v-model="enemyattribute.elementallevel"
                                                        v-on:change="ComputElementalPercent" placeholder="屬性等級">
                                                        <el-option v-for="item in elementlevel" :key="item.id"
                                                            :label="item.id" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox bg-purple-light" :gutter="4" type="flex"
                                            align="middle">
                                            <el-col class="textcenter" :span="6">Level</el-col>
                                            <el-col :span="6">
                                                <el-input v-model="enemyattribute.level"
                                                    v-on:input="onChangeEnemyStatus" placeholder="Lv">
                                                </el-input>
                                            </el-col>
                                            <el-col :span="6" class="textcenter">體型</el-col>
                                            <el-col :span="6">
                                                <div class="grid-content bg-purple">
                                                    <el-select value-key="id" v-model="enemyattribute.size"
                                                        placeholder="體型">
                                                        <el-option v-for="item in sizetypelist" :key="item.id"
                                                            :label="item.label" :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox bg-purple-light" :gutter="4" type="flex"
                                            align="middle">
                                            <el-tooltip class="item" effect="dark" content="影響最終暴率"
                                                placement="bottom-start">
                                                <el-col class="textcenter" :span="6">LUK</el-col>
                                            </el-tooltip>
                                            <el-col :span="6">
                                                <el-input v-model="enemyattribute.LUK" v-on:input="onChangeEnemyStatus"
                                                    placeholder="LUK">
                                                </el-input>
                                            </el-col>
                                            <el-tooltip class="item" effect="dark" content="影響強酸火煙瓶"
                                                placement="bottom-start">
                                                <el-col class="textcenter" :span="6">VIT</el-col>
                                            </el-tooltip>
                                            <el-col :span="6">
                                                <el-input v-model="enemyattribute.VIT" v-on:input="onChangeEnemyStatus"
                                                    placeholder="VIT">
                                                </el-input>
                                            </el-col>
                                        </el-row>

                                        <el-row class="statusbox bg-purple-light" :gutter="4" type="flex"
                                            align="middle">
                                            <el-tooltip class="item" effect="dark" content="(魔物等級+VIT)/2"
                                                placement="bottom-start">
                                                <el-col class="textcenter">減算DEF(前)</el-col>
                                            </el-tooltip>
                                            <el-col>
                                                <el-input v-model="enemyattribute.StatusDEF"
                                                    v-on:input="onChangeEnemyStatus" placeholder="前 DEF">
                                                </el-input>
                                            </el-col>
                                            <el-col class="textcenter">乘算DEF</el-col>
                                            <el-col>
                                                <el-input v-model="enemyattribute.WeaponDEF"
                                                    v-on:input="onChangeEnemyStatus" placeholder="後 DEF">
                                                </el-input>
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox bg-purple-light" :gutter="4" type="flex"
                                            align="middle">
                                            <el-tooltip class="item" effect="dark" content="(魔物等級+INT)/4"
                                                placement="bottom-start">
                                                <el-col class="textcenter">減算MDEF(前)</el-col>
                                            </el-tooltip>
                                            <el-col>
                                                <el-input v-model="enemyattribute.StatusMDEF"
                                                    v-on:input="onChangeEnemyStatus" placeholder="前 MDEF">
                                                </el-input>
                                            </el-col>
                                            <el-col class="textcenter">乘算MDEF</el-col>
                                            <el-col>
                                                <el-input v-model="enemyattribute.WeaponMDEF"
                                                    v-on:input="onChangeEnemyStatus" placeholder="後 MDEF">
                                                </el-input>
                                            </el-col>
                                        </el-row>
                                        <el-row v-if="TestMode" class="statusbox bg-purple-light" :gutter="4"
                                            type="flex" align="middle">
                                            <el-col class="textcenter" :span="6">種族抗性</el-col>
                                            <el-col :span="6">
                                                <el-input v-model="enemyattribute.raceResist" v-on:input="onOption"
                                                    placeholder="SP">
                                                </el-input>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-collapse-transition>
                                <el-collapse-transition>
                                    <div v-show="UIPanel['EnemyPanel']==false">
                                        <el-row class="statusbox" type="flex" align="middle" :gutter="4">
                                            <el-col class="textcenter" :span="24">
                                                Lv:{{enemyattribute.level}} / {{elementtypelist[enemyattribute.elemental].label}} {{enemyattribute.elementallevel}} / {{sizetypelist[enemyattribute.size].label}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="4">
                                            <el-tooltip class="item" effect="dark" content="影響最終暴率" placement="bottom-start">
                                                <el-col class="textcenter">LUK</el-col>
                                            </el-tooltip>
                                            <el-col style="text-align: left;">
                                                {{enemyattribute.LUK}}
                                            </el-col>
                                            <el-tooltip class="item" effect="dark" content="影響強酸火煙瓶"     placement="bottom-start">
                                                <el-col class="textcenter">VIT</el-col>
                                            </el-tooltip>
                                            <el-col style="text-align: left;">
                                                {{enemyattribute.VIT}}
                                            </el-col>
                                        </el-row>
                                        <el-row class="statusbox" type="flex" align="middle" style="padding: 0% 5%;" :gutter="4">
                                            <el-col style="text-align: left;">
                                                DEF {{enemyattribute.StatusDEF}}(減) + {{enemyattribute.WeaponDEF}}(乘)
                                            </el-col>
                                            <el-col style="text-align: left;">
                                                MDEF {{enemyattribute.StatusMDEF}}(減) + {{enemyattribute.WeaponMDEF}}(乘)
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-row>
                        <el-row class="titlebox" type="flex" align="middle" justify="end"
                            style="height:40px; padding: 0px 5px;">
                            <el-col class="textcenter" :span="4">
                            </el-col>
                            <el-col class="textcenter" :span="20">
                                <span class="textcenter">消耗品</span>
                            </el-col>
                            <el-col class="textcenter" :span="4">
                                <el-button v-on:click="OpenConsumableDialogue" size="mini">
                                    設定
                                </el-button>
                            </el-col>
                        </el-row>
                        <el-row>
                            <div class="Item" v-for="(item, index) in ConsumActiveFiltered()" v-bind:key="item.id"
                                style="height:40px; padding: 3px 10px;">
                                <el-row class="optionbox" :gutter="4" type="flex" align="middle" justify="middle">
                                    <el-col class="textcenter" :span="24">
                                        <span class="EffectType">{{ item.name }}</span>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-row>
                        <el-row>
                            <div class="boxborder EffectListBlock">
                                <el-row>
                                    <el-col :span="24">
                                        <div class="Item" v-for="(item, index) in consumableeffecttypelist" v-bind:key="item.id">
                                            <el-row v-if="item.totalvalue!=0" :gutter="4" type="flex" class="statusbox bg-purple"
                                                align="middle" justify="end" style="height:40px;">
                                                <el-col class="textcenter" :span="2">
                                                </el-col>
                                                <el-col class="textcenter" style="text-align: right;">
                                                    <span class="EffectType">{{ item.label }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ item.opersymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="5">
                                                    <span class="">{{ item.totalvalue!=9999?item.totalvalue:'' }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span lass="">{{ item.suffixsymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-row>
                    </el-scrollbar>
                </el-col>
{% endraw %}
