{% raw %}
                <el-col :span="6">
                    <el-row class="titlebox" type="flex" align="middle" justify="space-around"
                        style="height:40px; padding: 0px 5px;">
                        <el-col class="textcenter" :span="6"> </el-col>
                        <el-col class="textcenter" :span="2"> </el-col>
                        <el-col class="textcenter" :span="10">
                            <span class="textcenter">裝備</span>
                        </el-col>
                        <el-col class="textcenter" :span="2" style="text-align: right;">
                            <el-button v-on:click="OpenTextDialog('Equip')" size="small" icon="el-icon-s-tools">
                            </el-button>
                        </el-col>
                        <el-col class="textcenter" :span="6" style="text-align: right;">
                            <el-tooltip class="item" effect="dark" content="讀取已經儲存的裝備" placement="right">
                                <el-button v-on:click="onOpenEquipDB" size="small">
                                    裝備清單
                                </el-button>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                    <el-scrollbar wrap-class="body2col-container" :native="true" :noresize="false">
                        <el-row>
                            <div class="boxborder EquipBlock">
                                <!--主手-->
                                <div class="bg-purple" style="padding: 0px 2px;">
                                    <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                        <el-col class="textcenter" :span="4">
                                            <div>
                                                <span>{{equipspartlist[0].label}}</span>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter">
                                            <div>
                                                <el-input v-model="equipspartlist[0].equipname" placeholder="裝備名稱">
                                                </el-input>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="onClearEquipPart(0)" size="mini">
                                                清空
                                            </el-button>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="OpenEditEquipDialogue(0)" type="success"
                                                plain>
                                                編輯
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <el-row class="bg-purple" :gutter="4" style="padding: 5px 5px;">
                                        <el-row :gutter="4" type="flex" align="middle" justify="start">
                                            <el-col :span="4" style="text-align: right;">
                                                <span>主手武器</span>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-select value-key="id" v-model="weapon.type"
                                                    v-on:change="onSelectedWeaponType" placeholder="武器類型">
                                                    <el-option v-for="item in weapontypelist" :key="item.id"
                                                        :label="item.label" :value="item">
                                                    </el-option>
                                                </el-select>
                                            </el-col>
                                            <el-col :span="12"
                                                v-show="weapon.type.id=='Bows'|weapon.type.id=='Instruments'|weapon.type.id=='Whips'">
                                                <el-row :gutter="4" type="flex" align="middle" justify="space-around">
                                                    <el-col :span="12" style="text-align: right;">
                                                        <span>箭矢ATK:</span>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <el-input v-model.number="weapon.ArrowATK" placeholder="箭矢ATK">
                                                        </el-input>
                                                    </el-col>
                                                </el-row>
                                            </el-col>
                                            <el-col :span="12"
                                                v-show="weapon.type.id=='Guns'">
                                                <el-row :gutter="4" type="flex" align="middle" justify="space-around">
                                                    <el-col :span="12" style="text-align: right;">
                                                        <span>子彈ATK:</span>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <el-input v-model.number="weapon.ArrowATK" placeholder="子彈ATK">
                                                        </el-input>
                                                    </el-col>
                                                </el-row>
                                            </el-col>
                                        </el-row>
                                        <el-row v-show="weapon.type.id!='Empty'">
                                            <el-row class="" :gutter="4" type="flex" align="middle"
                                                justify="space-around">
                                                <el-col :span="4" style="text-align: right;">
                                                    <span>武器等級</span>
                                                </el-col>
                                                <el-col :span="8">
                                                    <el-select value-key="id" v-model="weapon.level"
                                                        v-on:change="onSelectedWeaponLevel" placeholder="武器等級">
                                                        <el-option v-for="item in weaponlevellist" :key="item.id"
                                                            :label="item.label" :value="item">
                                                        </el-option>
                                                    </el-select>
                                                </el-col>
                                                <el-col :span="6" style="text-align: right;">
                                                    <span>精鍊等級</span>
                                                </el-col>
                                                <el-col :span="6">
                                                    <div>
                                                        <el-input v-model.number="weapon.refinelevel"
                                                            v-on:input="onChangeRefineLevel" placeholder="精鍊等級">
                                                        </el-input>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row v-if="this.weapon.level.id==5"
                                                class="" :gutter="4" type="flex" align="middle"
                                                justify="space-around">
                                                <el-col :span="4" style="text-align: right;">
                                                    <span>Grade等級</span>
                                                </el-col>
                                                <el-col :span="8">
                                                    <el-select value-key="id" v-model="weapon.grade"
                                                        v-on:change="onSelectedWeaponLevel" placeholder="Grade等級">
                                                        <el-option v-for="item in weapongradelist" :key="item.id"
                                                            :label="item.label" :value="item">
                                                        </el-option>
                                                    </el-select>
                                                </el-col>
                                                <el-col :span="12" style="text-align: right;">
                                                </el-col>
                                            </el-row>
                                            <el-row class="" :gutter="4" type="flex" align="middle" justify="start">
                                                <el-col :span="6" style="text-align: right;">
                                                    <span>武器ATK: </span>
                                                </el-col>
                                                <el-col :span="6">
                                                    <el-input v-model="weapon.ATK" placeholder="武器ATK">
                                                    </el-input>
                                                </el-col>
                                                <el-col :span="6" style="text-align: right;">
                                                    <span>武器MATK: </span>
                                                </el-col>
                                                <el-col :span="6">
                                                    <el-input v-model.number="weapon.MATK" placeholder="武器MATK">
                                                    </el-input>
                                                </el-col>
                                            </el-row>
                                            <el-row class="" :gutter="4" type="flex" align="middle" justify="start">
                                                <el-col :span="12" style="text-align: right;">
                                                    <span>武器重量: </span>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-input v-model.number="weapon.Weight" placeholder="WGT">
                                                    </el-input>
                                                </el-col>
                                                <el-col v-if="status.classid=='ME'|status.classid=='GE'" :span="12" style="text-align: right;">
                                                    <span>砲彈ATK: </span>
                                                </el-col>
                                                <el-col v-if="status.classid=='ME'|status.classid=='GE'" :span="12">
                                                    <el-input v-model.number="weapon.BulletATK" placeholder="砲彈ATK">
                                                    </el-input>
                                                </el-col>
                                                <el-col v-else :span="24">
                                                </el-col>
                                            </el-row>
                                        </el-row>
                                        <el-row v-if="TestMode" :gutter="4" type="flex" align="middle" justify="start">
                                            <el-row :gutter="4" type="flex" align="middle" justify="space-around">
                                                <el-col :span="12" style="text-align: right;">
                                                    <span>箭矢ATK:</span>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-input v-model.number="weapon.ArrowATK" placeholder="箭矢ATK">
                                                    </el-input>
                                                </el-col>
                                            </el-row>
                                            <el-row :gutter="4" type="flex" align="middle" justify="space-around">
                                                <el-col :span="12" style="text-align: right;">
                                                    <span>砲彈ATK:</span>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-input v-model.number="weapon.BulletATK" placeholder="砲彈ATK">
                                                    </el-input>
                                                </el-col>
                                            </el-row>
                                        </el-row>
                                    </el-row>
                                    <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                        <el-col class="textcenter" :span="4">
                                            <div>
                                                <span></span>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter">
                                            <div>
                                                <el-input v-model="equipspartlist[14].equipname"
                                                    placeholder="卡片名稱">
                                                </el-input>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="onClearEquipPart(14)" size="mini">
                                                清空
                                            </el-button>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="OpenEditEquipDialogue(14)" type="success"
                                                plain>
                                                編輯
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <div class="Item" v-for="(item, index) in equipspartlist[0].effectlist"
                                            v-bind:key="item.effecttypelist">
                                            <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                justify="end" style="height:40px;">
                                                <el-col class="textcenter" style="text-align: right;" :span="12">
                                                    <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="3">
                                                    <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span lass="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter"  :span="5">
                                                    <el-checkbox v-model="item.Enable" @change="EnableEffect(1, index)"></el-checkbox>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </el-row>
                                    <el-row>
                                        <div class="Item bg-purple-light2" v-for="(item, index) in equipspartlist[14].effectlist"
                                            v-bind:key="item.effecttypelist" >
                                            <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                justify="end" style="height:40px;">
                                                <el-col class="textcenter" style="text-align: right;" :span="12">
                                                    <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="3">
                                                    <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span lass="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                </el-col>
                                                    <el-col class="textcenter"  :span="5">
                                                        <el-checkbox v-model="item.Enable" @change="EnableEffect(14, index)"></el-checkbox>
                                                    </el-col>
                                            </el-row>
                                        </div>
                                    </el-row>
                                </div>
                                <!--副手-->
                                <div class="bg-purple" style="padding: 0px 2px;">
                                    <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                        <el-col class="textcenter" :span="4">
                                            <div>
                                                <span>{{equipspartlist[1].label}}</span>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter">
                                            <div>
                                                <el-input v-model="equipspartlist[1].equipname" clearable
                                                    placeholder="裝備名稱">
                                                </el-input>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="onClearEquipPart(1)" size="mini">
                                                清空
                                            </el-button>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="OpenEditEquipDialogue(1)" type="success"
                                                plain>
                                                編輯
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <el-row class="statusbox bg-purple" :gutter="4" type="flex" align="middle"
                                        justify="start" v-show="weapon.type.isTwohand?false:true">
                                        <el-col :span="4" style="text-align: right;">
                                            <span>副手裝備</span>
                                        </el-col>
                                        <el-col :span="8">
                                            <el-select value-key="id" v-model="subweapon.type"
                                                v-on:change="onSelectedWeaponType" placeholder="類型">
                                                <el-option v-for="item in subhandtype" :key="item.id"
                                                    :label="item.label" :value="item">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                    <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                        v-show="subweapon.type.id==1">
                                        <el-col :span="6" style="text-align: right;">
                                            <span>盾牌精煉: </span>
                                        </el-col>
                                        <el-col :span="6">
                                            <div class="grid-content">
                                                <el-input v-model.number="subweapon.refinelevel" placeholder="SRL">
                                                </el-input>
                                            </div>
                                        </el-col>
                                        <el-col :span="6" style="text-align: right;">
                                            <span>盾牌重量: </span>
                                        </el-col>
                                        <el-col :span="6">
                                            <div class="grid-content">
                                                <el-input v-model.number="subweapon.ShieldWeight" placeholder="SHW">
                                                </el-input>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <div v-show="subweapon.type.id==2">
                                        <el-row class="" :gutter="4" type="flex" align="middle" justify="space-around">
                                            <el-col :span="4" style="text-align: right;">
                                                <span>武器等級</span>
                                            </el-col>
                                            <el-col :span="8">
                                                <div class="grid-content">
                                                    <el-select value-key="id" v-model="subweapon.level"
                                                        v-on:change="onSelectedWeaponLevel" placeholder="武器等級">
                                                        <el-option v-for="item in weaponlevellist" :key="item.id"
                                                            :label="item.label" :value="item">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </el-col>
                                            <el-col :span="6" style="text-align: right;">
                                                <span>精鍊等級</span>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <el-input v-model.number="subweapon.refinelevel"
                                                        v-on:input="onChangeRefineLevel" placeholder="精鍊等級">
                                                    </el-input>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="" :gutter="4" type="flex" align="middle" justify="start">
                                            <el-col :span="6" style="text-align: right;">
                                                <span>武器ATK: </span>
                                            </el-col>
                                            <el-col :span="6">
                                                <div class="grid-content">
                                                    <el-input v-model.number="subweapon.ATK" placeholder="武器ATK">
                                                    </el-input>
                                                </div>
                                            </el-col>
                                            <el-col :span="6" style="text-align: right;">
                                                <span>武器MATK: </span>
                                            </el-col>
                                            <el-col :span="6">
                                                <div class="grid-content">
                                                    <el-input v-model.number="subweapon.MATK" placeholder="武器MATK">
                                                    </el-input>
                                                </div>
                                            </el-col>
                                        </el-row>
                                    </div>
                                    <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                        <el-col class="textcenter" :span="4">
                                            <div>
                                                <span></span>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter">
                                            <div>
                                                <el-input v-model="equipspartlist[1+14].equipname"
                                                    placeholder="卡片名稱">
                                                </el-input>
                                            </div>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="onClearEquipPart(1+14)" size="mini">
                                                清空
                                            </el-button>
                                        </el-col>
                                        <el-col class="textcenter" :span="5">
                                            <el-button v-on:click="OpenEditEquipDialogue(1+14)" type="success"
                                                plain>
                                                編輯
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <div class="Item" v-for="(item, index) in equipspartlist[1].effectlist"
                                            v-bind:key="item.effecttypelist">
                                            <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                justify="end" style="height:40px;">
                                                <el-col class="textcenter" style="text-align: right;" :span="12">
                                                    <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="3">
                                                    <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span lass="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                </el-col>
                                                    <el-col class="textcenter"  :span="5">
                                                        <el-checkbox v-model="item.Enable" @change="EnableEffect(1, index)"></el-checkbox>
                                                    </el-col>
                                            </el-row>
                                        </div>
                                    </el-row>
                                    <el-row>
                                        <div v-for="(item, index) in equipspartlist[1+14].effectlist"
                                            v-bind:key="item.effecttypelist" class="bg-purple-light2">
                                            <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                justify="end" style="height:40px;">
                                                <el-col class="textcenter" style="text-align: right;" :span="12">
                                                    <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="3">
                                                    <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                </el-col>
                                                <el-col class="textcenter" :span="2">
                                                    <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                </el-col>
                                                <el-col class="textcenter"  :span="5">
                                                    <el-checkbox v-model="item.Enable" @change="EnableEffect(1+14, index)"></el-checkbox>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </el-row>
                                </div>
                                <!--裝備-->
                                <div class="Item" v-for="(item,eqindex) in equipspartlist.slice(2,14)">
                                    <div class="bg-purple-light" style="padding: 0px 4px;">
                                        <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                            <el-col class="textcenter" :span="4">
                                                <div>
                                                    <span>{{item.label}}</span>
                                                </div>
                                            </el-col>
                                            <el-col class="textcenter">
                                                <div>
                                                    <el-input v-model="equipspartlist[eqindex+2].equipname"
                                                        placeholder="裝備名稱">
                                                    </el-input>
                                                </div>
                                            </el-col>
                                            <el-col class="textcenter" :span="5">
                                                <el-button v-on:click="onClearEquipPart(eqindex+2)" size="mini">
                                                    清空
                                                </el-button>
                                            </el-col>
                                            <el-col class="textcenter" :span="5">
                                                <el-button v-on:click="OpenEditEquipDialogue(eqindex+2)" type="success"
                                                    plain>
                                                    編輯
                                                </el-button>
                                            </el-col>
                                        </el-row>
                                        <el-row class="effectline" :gutter="4" type="flex" align="middle">
                                            <el-col class="textcenter" :span="4">
                                                <div>
                                                    <span></span>
                                                </div>
                                            </el-col>
                                            <el-col class="textcenter">
                                                <div>
                                                    <el-input v-model="equipspartlist[eqindex+2+14].equipname"
                                                        placeholder="卡片名稱">
                                                    </el-input>
                                                </div>
                                            </el-col>
                                            <el-col class="textcenter" :span="5">
                                                <el-button v-on:click="onClearEquipPart(eqindex+2+14)" size="mini">
                                                    清空
                                                </el-button>
                                            </el-col>
                                            <el-col class="textcenter" :span="5">
                                                <el-button v-on:click="OpenEditEquipDialogue(eqindex+2+14)" type="success"
                                                    plain>
                                                    編輯
                                                </el-button>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <div v-for="(item, index) in equipspartlist[eqindex+2].effectlist"
                                                v-bind:key="item.effecttypelist">
                                                <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                    justify="end" style="height:40px;">
                                                    <el-col class="textcenter" style="text-align: right;" :span="12">
                                                        <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2">
                                                        <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="3">
                                                        <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2">
                                                        <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter"  :span="5">
                                                        <el-checkbox v-model="item.Enable" @change="EnableEffect(eqindex+2, index)"></el-checkbox>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-row>
                                        <el-row>
                                            <div v-for="(item, index) in equipspartlist[eqindex+2+14].effectlist"
                                                v-bind:key="item.effecttypelist" class="bg-purple-light2">
                                                <el-row class="effectline" :gutter="4" type="flex" align="middle"
                                                    justify="end" style="height:40px;">
                                                    <el-col class="textcenter" style="text-align: right;" :span="12">
                                                        <span class="EffectType">{{ effecttypelist[GetETLIndex(item.EffectType.id)].label }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2">
                                                        <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].opersymbol }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="3">
                                                        <span class="">{{ item.EffectNumber!=9999?item.EffectNumber:'' }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2">
                                                        <span class="">{{ effecttypelist[GetETLIndex(item.EffectType.id)].suffixsymbol }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter"  :span="5">
                                                        <el-checkbox v-model="item.Enable" @change="EnableEffect(eqindex+2+14, index)"></el-checkbox>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-row>
                                    </div>
                                </div>
                            </div>
                        </el-row>
                        <!--武器-->
                        <el-row class="titlebox" type="flex" align="middle" justify="space-around" style="height:40px;">
                            <el-col class="textcenter" :span="10">
                                <span class="textcenter">武器&裝備效果整合</span>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-row class="bg-purple-light effectline" type="flex" align="middle" justify="center">
                                <el-col class="textcenter" :span="8" style="text-align: right;">
                                    <span>精鍊Atk / Matk:</span>
                                </el-col>
                                <el-col class="textcenter" :span="4">
                                    <span>{{weapon.refineatk}} / {{weapon.refinematk}}</span>
                                </el-col>
                                <el-col class="textcenter" :span="8" style="text-align: right;">
                                    <span>過度精鍊Atk / Matk:</span>
                                </el-col>
                                <el-col class="textcenter" :span="4">
                                    <span>{{weapon.refineatk2}}</span>
                                </el-col>
                            </el-row>
                            <el-row class="bg-purple-light effectline" type="flex" align="middle" justify="center">
                                <el-col class="textcenter" :span="2">
                                    <span>小:</span>
                                </el-col>
                                <el-col class="textcenter" :span="4">
                                    <span>{{weapon.type.sizefix.small}}%</span>
                                </el-col>
                                <el-col class="textcenter" :span="2">
                                    <span>中:</span>
                                </el-col>
                                <el-col class="textcenter" :span="4">
                                    <span>{{weapon.type.sizefix.middle}}%</span>
                                </el-col>
                                <el-col class="textcenter" :span="2">
                                    <span>大:</span>
                                </el-col>
                                <el-col class="textcenter" :span="4">
                                    <span>{{weapon.type.sizefix.large}}%</span>
                                </el-col>
                            </el-row>
                            <el-row class="bg-purple-light effectline" type="flex" align="middle" justify="center"
                                v-show="weapon.type.isRangedattack">
                                <el-col class="textcenter skilltag">
                                    <span>普攻遠傷</span>
                                </el-col>
                            </el-row>
                        </el-row>
                        <el-row>
                            <div class="boxborder EffectListBlock">
                                <el-row>
                                    <el-col :span="24">
                                        <el-row>
                                            <div v-for="(item, id) in this.effecttypelist" v-bind:key="item.id">

                                                <el-row v-if="item.totalvalue!=0" class="statusbox bg-purple"
                                                    type="flex" align="middle" justify="center" style="height:40px;">
                                                    <el-col class="textcenter" :span="6" style="text-align: right;">
                                                        <span>{{ item.label }}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2">
                                                        <span class="">{{ item.opersymbol }}</span>
                                                    </el-col>
                                                    <el-col v-if="item.opersymbol!=''" class="textcenter" :span="2">
                                                        <span>{{item.totalvalue}}</span>
                                                    </el-col>
                                                    <el-col class="textcenter" :span="2 ">
                                                        <span lass="">{{ item.suffixsymbol }}</span>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-row>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-row>
                    </el-scrollbar>
                </el-col>
{% endraw %}
