        <!-- header -->
        <div class="ROCalTitle">
            <el-row type="flex" align="middle" justify="end" :gutter="1">
                <el-col :span="1">
                </el-col>
                <el-col :span="2">
                    <el-button v-on:click="onOpenAllSet" size="mini">
                        配置清單
                    </el-button>
                </el-col>
                <el-col :span="2">
                    <el-button v-on:click="onOpenAllSetSave" size="mini">
                        儲存配置
                    </el-button>
                </el-col>
                <el-col :span="2">
                    <input style="display:none" ref="fileInputImport" type="file" name="fileInputImport" @change="onLoadFileAllSetSave" >
                    <el-button v-on:click.stop="openFileExplorer()" size="mini">
                        讀取配置檔案
                    </el-button>
                </el-col>
                <el-col :span="1">
                </el-col>
                <el-col :span="8">
                    <div class="effectline grid-content" type="flex" align="middle" justify="space-around">
                        <span>RO 計算機</span>
                    </div>
                </el-col>
                <el-col :span="1">
                </el-col>
                <el-col :span="2" class="textcenter">
                    TwRO
                </el-col>
                <el-col :span="1">
                    <el-button v-on:click="TogglePanel('AboutDialog')" size="small">
                        關於
                    </el-button>
                </el-col>
                <el-col :span="1">
                    <el-button v-on:click="TogglePanel('DonateDialog')" size="small" type="warning">
                        贊助
                    </el-button>
                </el-col>
                <el-col :span="1">
                    <el-button v-on:click="TogglePanel('SpecialthanksDialog')" size="small" type="success">
                        協力
                    </el-button>
                </el-col>
                <el-col :span="2">
                    <el-button v-on:click="TogglePanel('UpdateLogDialog')" size="small" type="danger">
                        更新紀錄
                    </el-button>
                </el-col>
            </el-row>
        </div>
